.row
  .small-12.columns
    %h1 Concert Tickets
.row
  .small-4.columns
    %select#sectionSelect
      %option{value:'selectNeutral'} Select Section
      %option{value:'ga'}General Admission
      %option{value:'vip'} VIP Section
  .small-2.columns
    %input#seatNum{type: 'text', placeholder: '# of seats?'}
  .small-2.columns
    %input#seatCost{type: 'text', placeholder: 'seat price?'}
  .small-3.columns
    %input#createSeats.button.round{type: 'button', value: 'Create Seats!'}
  .small-1.columns
    %input#name{type: 'text', placeholder: "name?"}
.row
  .small-12.columns
    #stage
      %h2 Stage
.row
  .small-12.columns
    %h4 VIP
    #vip
    %div.clear
.row
  .small-12.columns
    %h4 General Admission
    #ga
    %div.clear
.row
  .small-6.columns
    %h4 Reporting
  .small-2.columns
    %h4 Seat List
  .small-2.columns
    %h5 Seat
  .small-2.columns
    %h5 Name
.row
  .small-6.columns
    %table#revenue
      %tr
        %td Total VIP:
        %td#vipRevenue
      %tr
        %td Total GA:
        %td#gaRevenue
      %tr
        %td Grand Total:
        %td#totalRevenue
  .small-2.columns
    %h5 VIP
  .small-2.columns
    %ul#vipSeatNumbers
  .small-2.columns
    %ul#vipSeatNames
.row
  .small-6.columns
    %table#seatCount
      %tr
        %td VIP Seats:
        %td#vipSeats
      %tr
        %td GA Seats:
        %td#gaSeats
      %tr
        %td Total Seats:
        %td#totalSeats
  .small-2.columns
    %h5 GA
  .small-2.columns
    %ul#gaSeatNumbers
  .small-2.columns
    %ul#gaSeatNames
